.chat_main {
    display: "flex";
    justify-content: "space-between";
    flex-direction: "column";
    height: "85svh";
    margin-bottom: '100px';
    overflow: "hidden";
}

.chat_input {
    position: sticky;
    bottom: 0;
    margin-bottom: 10px;
}