.chat_main {
    display: "flex";
    justify-content: "space-between";
    flex-direction: "column";
    height: "90svh";
    margin-bottom: '100px';
}

.chat_input {
    position: sticky;
    bottom: 0;
    margin-bottom: 10px;
}