/* UserSearch.module.css */
.user_search_container {
    margin: 0 auto;
    padding: 16px;
}

.user_list_item {
    cursor: pointer;
    transition: background 0.3s;
}

.user_list_item:hover {
    background: #f0f0f0;
}