* {
  margin: 0 auto;
  font-family: 'Lexend', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Pathway Extreme', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.emoji-picker-upwards {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  margin-bottom: 0px;
}