.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: none;
    height: 100vh;
    padding-top: 10vh;
    background-color: #F4F6F9;
}

.layoutSection {
  padding: 2vh;
  margin-bottom: 30vh;
}